<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>DaedaloSYS - Painel de Controle</title>
</head>
<body>
    <h1>Bem-vindo ao DaedaloSYS!</h1>
    <p>Este é o seu painel de controle. Versão de teste</p>
    <a href="/chamados/novo">Novo Chamado</a>
    <br>
    <a href="/chamados/lista">Chamados</a>
    <br>
    <a href="/financeiro/custos/lista">Custos</a>
    <br>
    <a href="/financeiro/faturamentos/lista">Faturamentos</a>
    <br>
    <a href="/clientes/lista">Clientes</a>
    <br>
    <a href="/tecnico/lista">Tecnicos</a>
</body>
</html>